
.create-your-team-container {
  background-color: #FFFFFF;
  height: 164vh;
  margin-top: 6vh;
  margin-bottom: 6vh;
  color: #6F747B;
}
.sub-header {
  color: rgb(179, 176, 176);
  font-weight: bold;
  font-size: 1rem;
  text-align: center;
  margin-top: 6vh;
  margin-bottom: 6vh;
}