.form-container {
  width: 80%;
  margin: 0 auto;
}
.form-description {
  height: 30vh;
}
.form-tags {
  height: 21vh;
}
.form-group {
  width: 90%;
  padding: 0;
}
.form-right {
  margin-left: auto;
}
.radio-check {
  display: flex;
  .form-check{

    margin-right: 50px;
  }
}

