.form-container {
  width: 80%;
  margin: 0 auto;
}
.form-description {
  height: 30vh;
}
.form-tags {
  height: 21vh;
}
.form-group {
  width: 90%;
  padding: 0;
}
.form-right {
  margin-left: auto;
}
.radio-check {
  display: flex;
  .form-check{

    margin-right: 50px;
  }
}
.sub-header-before-tatics {
  color: rgb(179, 176, 176);
  font-weight: bold;
  font-size: 1.1rem;
  text-align: center;
  margin-top: 6vh;
  margin-bottom: 5vh;
  width: 100%;
}
.formation-header {
  color: black;
  font-weight: bold;
  margin-right: 40px;
}
.formationField {
  width: 90%;
  height: 85vh;
  background: linear-gradient(to bottom, $venturus-md-pink-purple, $venturus-dark-purple 120%);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}
.circle-form {
  border: 1px solid rgba(255, 255, 255, .2);
  width: 120px;
  height: 120px;
  border-radius: 50%;
  position: absolute;
}
.middle-camp-line {
  width: 100%;
  height: 50%;
  div {
    border-bottom: 1px solid rgba(255, 255, 255, .2);
    height: 50%;
  }
}
.saveButton {
  width: 45%;
  background: linear-gradient(to bottom, $venturus-md-pink-purple, $venturus-dark-purple 120%);
  border-radius: 5px;
  color: $venturus-white;
  margin-top: 30px;
  padding: 0.4rem 0;
}

