.navbar-venturus {
  color: white;
  background: linear-gradient(to right, $venturus-pink, $venturus-purple 50%);
  height: 8vh;
  display: flex;
  justify-content: space-between;
}
.logo {
  display: flex;
  padding: 0 50px;
  align-items: center;
  p {
    font-size: 2rem;
    margin: 0;
    padding: 0 20px;
    opacity: 0.9;
    font-weight: bold;
  }
}
.logo img{
  height: 7vh;
  margin: auto;
  opacity: 0.8;
}
.avatar {
  border-radius: 50%;
  width: 30px;
  img {
    height: 4vh;
  }
}
.logged-in {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 70px;
  p {
    font-size: 1.8rem;
    margin: 0 10px;
    opacity: 0.9;
    font-weight: bold;
  }
}